<ion-content>
  <ion-toolbar>
    <img src="assets/images/lopes-personnalite-logo.png" class="ion-padding" />
  </ion-toolbar>
  <ion-list>
    <div *ngIf="!leadList || leadList.length == 0; else leadsContent">
      <ion-card style="height: 40px"> Você não possui leads </ion-card>
    </div>
    <ng-container #leadsContent *ngFor="let lead of leadList">
      <app-lead-card
        [data]="lead"
        [isMyLeads]="true"
        (clickEvent)="cardClick($event, lead)"
      ></app-lead-card>
    </ng-container>
  </ion-list>
</ion-content>
