<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>LOGIN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <ion-item>
      <ion-label>Login</ion-label>
      <ion-input type="text" formControlName="login" name="login"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Senha</ion-label>
      <ion-input type="password" formControlName="senha" name="senha"></ion-input>
    </ion-item>
    <ion-button expand="block" type="submit" block>Logar</ion-button>
    <ion-button expand="block" block (click)="cadastrar()">Cadastrar</ion-button>

  </form>

</ion-content>
