<ion-card>
  <ion-item>
    <ion-icon
      class="lead-card__icon"
      name="{{data?.realStateType === 'house' ? 'home-outline' : 'business-outline'}}"
      slot="start"
    ></ion-icon>

    <!-- Skeleton Text -->
    <ion-label *ngIf="!data">
      <h3>
        Local:
        <ion-skeleton-text
          animated
          class="skeleton__text"
          style="width: 80%"
        ></ion-skeleton-text>
      </h3>
      <h3>
        Nome:
        <ion-skeleton-text
          animated
          class="skeleton__text"
          style="width: 60%"
        ></ion-skeleton-text>
      </h3>

      <h3>
        Área:
        <ion-skeleton-text
          animated
          class="skeleton__text"
          style="width: 40%"
        ></ion-skeleton-text>
      </h3>
      <h3>
        Quartos:
        <ion-skeleton-text
          animated
          class="skeleton__text"
          style="width: 20%"
        ></ion-skeleton-text>
      </h3>
      <h3>
        Valor:
        <span class="lead__price"> R$ 50,00</span>
      </h3>
    </ion-label>
    <!-- Skeleton Text End-->

    <ion-label *ngIf="data">
      <h3>
        Local:
        <span class="card__text">{{data.endereco}}</span>
      </h3>
      <h3>
        Nome:
        <span class="card__text">{{data.nome}}</span>
      </h3>

      <h3>
        Área:
        <span class="card__text">{{data.areaImovel}}</span>
      </h3>
      <h3>
        Quartos:
        <span class="card__text">{{data.qtdQuartos}}</span>
      </h3>
      <h3 *ngIf="!data">
        Valor:
        <span class="lead__price"> R$ {{data?.price}}</span>
      </h3>
    </ion-label>
  </ion-item>
</ion-card>
